<div class="row">
    <div class="col-sm-4 offset-md-4">
        <div class="card card-body">
            <form (submit)="edit ? updateUser() : submitUser()">
                <div class="form-group">
                    <input type="text" name="nome" [(ngModel)] = "user.nome" 
                    class="form=control" placeholder="Nome do Usuario" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="email" [(ngModel)] = "user.email" 
                    class="form=control" placeholder="Email do Usuario">
                </div>
                <div class="form-group">
                    <input type="text" name="telefone" [(ngModel)] = "user.telefone" 
                    class="form=control" placeholder="Telefone do Usuario">
                </div>
                <div class="form-group">
                    <input type="text" name="sexo" [(ngModel)] = "user.sexo" 
                    class="form=control" placeholder="Sexo do Usuario">
                </div>
                <button class="btn btn-primary btn-block">
                    Cadastrar
                </button>
            </form>
        </div>
    </div>
</div>
